# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
env/
.venv/

# =========================
# Model files (VERY IMPORTANT)
# =========================
models/
*.pt
*.pth

# =========================
# Dataset (DO NOT UPLOAD)
# =========================
dataset/
data/
*.zip

# =========================
# Streamlit cache
# =========================
.streamlit/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log
